<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
    <div class="row py-5">
        <div class="col-12 text-center">
            <h1 class="display-2 text-uppercase text-white mb-md-4">Classes</h1>
            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Home</a>
            <a href="" class="btn btn-light py-md-3 px-md-5">Classes</a>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Class Timetable Start -->
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">Class Schedule</h5>
        <h1 class="display-3 text-uppercase mb-0">Working Hours</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white active" data-bs-toggle="pill" href="#tab-1">Monday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-2">Tuesday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-3">Wednesday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-4">Thursday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-5">Friday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-6">Saturday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded-pill text-white" data-bs-toggle="pill" href="#tab-7">Sunday</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-5" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-6" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-7" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Class Timetable Start -->